
Using Python to Access Web Data/.ipynb_checkpoints/general practice-checkpoint.ipynb
Using Python to Access Web Data/.ipynb_checkpoints/general practice-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/.ipynb_checkpoints/Week+3-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/.ipynb_checkpoints/Assignment+3-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/.ipynb_checkpoints/Week+4-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Sol/.ipynb_checkpoints/Assignment 3 agniiyer-checkpoint-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Sol/.ipynb_checkpoints/Assignment 3 agniiyer-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Sol/Assignment 3 agniiyer-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Sol/Assignment 3 agniiyer.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Sol/Assignment 4 agniiyer.ipynb
06. Data Analysis with Python/DA0101EN-Review-Introduction.ipynb
06. Data Analysis with Python/DA0101EN-Review-Introduction.ipynb
06. Data Analysis with Python/DA0101EN-Review-Introduction.ipynb
06. Data Analysis with Python/DA0101EN-Review-Introduction.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/week 1/.ipynb_checkpoints/assignment1-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/week 2/.ipynb_checkpoints/05.QueryingDataFrame_ed-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/week 2/assets/NISPUF17.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/week 2/mine.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/week 2/NISPUF17.csv

Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_13.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_14.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_15.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_16.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_17.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_18.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_7.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_8.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/.gitattributes
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_10.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_11.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_12.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Screenshot_9.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/merging1.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/merging2.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/merging3.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/Screenshot_16.png
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 4/helpless.xlsx
Codesites/.ipynb_checkpoints/days of our life-checkpoint.ipynb
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2004_05_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2005_06_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2006_07_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2007_08_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2008_09_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2009_10_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2010_11_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2011_12_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2012_13_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/college_scorecard/MERGED2013_14_PP.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/datasets/census.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/datasets/cwurData.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 3/datasets/listings.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 4/assets/mlb.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 4/assets/nba.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 4/assets/nfl.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 4/assets/nhl.csv
Applied Data Science with Python Specialization/01.Introduction to Data Science in Python/Week 4/datasets/grades.csv
Applied Data Science with Python Specialization/02-ploting charting and data representation/BinSize_d400.csv
Applied Data Science with Python Specialization/02-ploting charting and data representation/data.csv
plots/avocado_datacamp_C3.csv
Data Camp/07.The GitHub History of the Scala Language/datasets/pull_files.csv
Data Camp/07.The GitHub History of the Scala Language/datasets/pulls.csv
Data Camp/07.The GitHub History of the Scala Language/datasets/pulls_2011-2013.csv
Data Camp/07.The GitHub History of the Scala Language/datasets/pulls_2014-2018.csv
Data Camp/census.csv
Data Camp/Data Manipulation with Python Test Your Skills.ipynb
Data Camp/.ipynb_checkpoints/Data Manipulation with Python Test Your Skills-checkpoint.ipynb
Data Camp/INTERACTIVE COURSE Introduction to Databases in Python/.ipynb_checkpoints/The code-checkpoint.ipynb
Data Camp/INTERACTIVE COURSE Introduction to Databases in Python/census.csv
Data Camp/INTERACTIVE COURSE Introduction to Databases in Python/census.sqlite
Data Camp/INTERACTIVE COURSE Introduction to Databases in Python/chapter5.sqlite
Data Camp/INTERACTIVE COURSE Introduction to Databases in Python/employees.sqlite
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/.ipynb_checkpoints/01.Introduction to Importing Data in Python-checkpoint.ipynb
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/airlines_final.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/banking_dirty.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/battledeath.xlsx
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/Chinook.sqlite
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/Data Science Courses_ R & Python Analysis Tutorials _ DataCamp.html
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/data.db
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/disarea.dta
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/fcc-new-coder-survey.xlsx
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/ja_data2.mat
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/L-L1_LOSC_4_V1-1126259446-32.hdf5
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/latitude.xls
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/mnist_kaggle_some_rows.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/moby_dick.txt
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/restaurants_L2.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/restaurants_L2_dirty.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/ride_sharing_new.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/sales.sas7bdat
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/seaslug.txt
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/titanic_sub.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/tweets3.txt
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/vt_tax_data_2016.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/winequality-red.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/albeck_gene_expression.mat
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/digits.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/digits_header.txt
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/LIGO_data.hdf5
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/titanic.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/titanic_corrupt.txt
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/.ipynb_checkpoints/2.Intermediate Importing Data in Python-checkpoint.ipynb
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/.ipynb_checkpoints/3.Cleaning Data in Python-checkpoint.ipynb
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/a_movie.json
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/tweets.txt
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/airlines.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/airlines2.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/airlines3.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/banking1.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/categories.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/ride_sharing_2.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/ride_sharing_g3.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/ride_sharing_v3.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/ridv4.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/banking2.csv
Data Camp/SKILL TRACK Importing and Cleaning Data with Python/Data/restaurantsv1.csv
Data Camp/SKILL TRACK Data Visualization with Python/.ipynb_checkpoints/1.Introduction to Data Visualization with Matplotlib-checkpoint.ipynb
Data Camp/SKILL TRACK Data Visualization with Python/data/austin_weather.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/austin_weather1.txt
Data Camp/SKILL TRACK Data Visualization with Python/data/climate_change.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/climate_change1.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/medals_by_country_2016.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/mens_gymnastics.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/mens_rowing.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/seattle_wather1.txt
Data Camp/SKILL TRACK Data Visualization with Python/data/seattle_weather.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/sports_weights.png
Data Camp/SKILL TRACK Data Visualization with Python/data/summer2016.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/countries-of-the-world.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/mpg.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/mpg_mean
Data Camp/SKILL TRACK Data Visualization with Python/data/student-alcohol-consumption.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/survet_data3.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/survet_data4
Data Camp/SKILL TRACK Data Visualization with Python/data/survey_data2.csv
Data Camp/SKILL TRACK Data Visualization with Python/data/survey_data5
Data Camp/SKILL TRACK Data Visualization with Python/data/young-people-survey-responses.csv
Data Camp/SKILL TRACK Data Visualization with Python/.ipynb_checkpoints/2.Introduction to Data Visualization with Seaborn-checkpoint.ipynb
Data Camp/SKILL TRACK Data Visualization with Python/.ipynb_checkpoints/2.Introduction to Data Visualization with Seaborn-checkpoint.ipynb
Data Camp/Machine Learning Scientist with Python/Data/artists.csv
Data Camp/Machine Learning Scientist with Python/Data/company-stock-movements-2010-2015-incl.csv
Data Camp/Machine Learning Scientist with Python/Data/eurovision-2016.csv
Data Camp/Machine Learning Scientist with Python/Data/fish.csv
Data Camp/Machine Learning Scientist with Python/Data/lcd-digits.csv
Data Camp/Machine Learning Scientist with Python/Data/preprocessing.md
Data Camp/Machine Learning Scientist with Python/Data/scrobbler-small-sample.csv
Data Camp/Machine Learning Scientist with Python/Data/seeds-width-vs-length.csv
Data Camp/Machine Learning Scientist with Python/Data/seeds.csv
Data Camp/Machine Learning Scientist with Python/Data/wikipedia-vectors.csv
Data Camp/Machine Learning Scientist with Python/Data/wikipedia-vocabulary-utf8.txt
Data Camp/Machine Learning Scientist with Python/Data/wine.csv
*.txt
Data Camp/Machine Learning Scientist with Python/Data/new_points
Data Camp/Machine Learning Scientist with Python/Data/pionts
*.feat
*.vocab
Data Camp/Machine Learning Scientist with Python/Data/aclImdb/README
Data Camp/.ipynb_checkpoints/Intermediate Data Visualization with Seaborn Codes Only-checkpoint.ipynb
Data Camp/.ipynb_checkpoints/Working with Dates and Times in Python Code Only-checkpoint.ipynb
Data Camp/Data/capital-onebike.csv
Data Camp/.ipynb_checkpoints/Exploratory Data Analysis in Python-checkpoint.ipynb
Data Camp/Data/brfss.hdf5
Data Camp/Data/gss.hdf5
Data Camp/Data/nsfg.hdf5
Data Camp/.ipynb_checkpoints/statistical-thinking-in-python-(part-1)-checkpoint.ipynb
Data Camp/.ipynb_checkpoints/Statistical Thinking in Python (Part 1)-checkpoint.ipynb
Data Camp/Data/2008_all_states.csv
Data Camp/Data/2008_swing_states.csv
Data Camp/Data/belmont.csv
Data Camp/Data/michelson_speed_of_light.csv
Data Camp/Statistical Thinking in Python (Part 1).ipynb
Data Camp/Data/anscombe.csv
Data Camp/Data/bee_sperm.csv
Data Camp/Data/female_literacy_fertility.csv
Data Camp/Data/finch_beaks_1975.csv
Data Camp/Data/finch_beaks_2012.csv
Data Camp/Data/fortis_beak_depth_heredity.csv
Data Camp/Data/frog_tongue.csv
Data Camp/Data/mlb_nohitters.csv
Data Camp/Data/scandens_beak_depth_heredity.csv
Data Camp/Data/sheffield_weather_station.csv
Data Camp/.ipynb_checkpoints/Statistical Thinking in Python Part 2-checkpoint.ipynb
Data Camp/Machine Learning Scientist with Python/Data/bikes.csv
Data Camp/Machine Learning Scientist with Python/Data/indian_liver_patient/indian_liver_patient.csv
Data Camp/Machine Learning Scientist with Python/Data/indian_liver_patient/indian_liver_patient_preprocessed.csv
Data Camp/Machine Learning Scientist with Python/Data/wbc.csv
Data Camp/.ipynb_checkpoints/Case Study School Budgeting with Machine Learning in Python-checkpoint.ipynb
Data Camp/Data/HoldoutData.csv
Data Camp/Data/TrainingData.csv
Data Camp/predictions.csv
Data Camp/Machine Learning Scientist with Python/Data/uniform_data.csv
Data Camp/Machine Learning Scientist with Python/Data/movies_plot.csv
Data Camp/Machine Learning Scientist with Python/Data/mouse.csv
Data Camp/Machine Learning Scientist with Python/Data/fifa_18_sample_data.csv
Data Camp/Machine Learning Scientist with Python/Data/fifa_18_dataset.csv
Data Camp/Machine Learning Scientist with Python/Data/comic_con.csv
Data Camp/Machine Learning Scientist with Python/Data/batman.jpg
Data Camp/Machine Learning Scientist with Python/.ipynb_checkpoints/06.Cluster Analysis in Python-checkpoint.ipynb
